$background-color: white;
$text-color: black;
$highlight-long-instuction-color: #0ce5e1;
$long-instuction-color: #50b6bb;

body{
    background-color: $background-color;
}

header{
    color: $text-color;
}

g{
 transition: transform 1s ease-in-out;   
}

.site-container{

    .navigation-bar{

        height: 8vh;
        background-color: pink;
        margin-bottom: 2vh;

        .logo{
            background-color: whitesmoke;
        }

        .sort-list{
            margin: 0;
            background-color: gray;
        }

    }

    .main-content{

        height: 90vh;
        width: 94%;
        margin: auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "graph-screen graph-screen short-instruction-screen"
                             "graph-screen graph-screen long-instruction-screen"
                             "graph-screen graph-screen long-instruction-screen"
                             "operation-panel operation-panel operation-panel"
                             "operation-panel operation-panel operation-panel";
        grid-column: auto;
        grid-gap: 1vh;

        .graph-screen{
            background-color: green;
            grid-area: graph-screen;

            #graph-canvas{
                width: 100%;
                height: 100%;
            }

        }

        .short-instruction-screen{
            background-color: azure;
            grid-area: short-instruction-screen;

            .short-instruction{
                height: 100%;
                color: black;
                background-color: cornflowerblue;
                margin: 0px;
            }
        }

        .long-instruction-screen{
            background-color: $long-instuction-color;
            grid-area: long-instruction-screen;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .long-instruction{
                background-color: $long-instuction-color;
                margin: auto;
            }

            .highlight{
                background-color: $highlight-long-instuction-color;
            }

        }

        .operation-panel{

            grid-area: operation-panel;

            
            .play-button{
                background-color: coral;
            }
            
            .stop-button{
                background-color: cornflowerblue;
            }
            
            .graph-data{
                background-color: darkmagenta;
            }

            .input-button{
                background: darkseagreen;
            }
            
            .previous-step-button{
                background-color: gold;
            }

            .next-step-button{
                background-color: indianred;
            }

            .progress-slider{
                background-color: crimson;
            }

            .speed-slider{
                background-color: darkgoldenrod;
            }

            .about-button{
                background-color: red;
            }

        }

    }

}